@include respond-to(m){
  .slide1{
    .txt{
      &-name{
        font-size: 3rem;
      }
      &-slogan{
        margin: 1rem 0;
        line-height: .8;
        font-size: 4rem;
      }
      &-frase{
        font-size: 2.3rem;
      }
      &-frase2{
        font-size: 1.7rem;
      }
    }
    span{
      font-size: 4rem;
    }
  }
  .slide10{
    &-1{
      order:1;
      padding-right: 1rem;
    }
    &-2{
      order:2;
    }
    &-4{
      padding-left: 1rem;
    }
    &-dual{
      p{
        position: relative;
      }
      &-izq, &-der{
        flex-direction: column;
        p{
          color: #fff;
          width: 100%;
          padding: 0 1rem;
        }
      }

    }

  }
}
@include respond-to(l){
  .slide1{
    height: 100vh;
    background-image: url('#{$image-dir}/marcelo.jpg');
    align-items: center;
    &>div{
      background-color: transparent;
      padding-top: 0;
    }
    .txt{
      &-name{
        font-size: 4rem;
        color: #000;
      }
      &-slogan{
        margin: 4rem 0;
        line-height: .8;
        font-size: 12rem;
      }
      &-frase{
        font-size: 2.3rem;
      }
      &-frase2{
        font-size: 1.7rem;
      }
    }
    span{
      display: block;
      font-size: 5.5rem;
    }
    a.mail{
      font-size: 1.5rem;
      margin: 3rem 0 0;
    }
  }

  .slide2{
    background-image: url('#{$image-dir}/fondo-politicos.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 100rem;
    &>div{
      padding: 3rem;
    }
    h2{
      text-align: center;
      font-size: 2rem;
    }
    .list{
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .slide3{
    padding: 0;
    height: 100vh;
  }

  .slide4{
    padding: 4rem 0 10rem;
    background-image: url('#{$image-dir}/fondo-semiotica.jpg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    background-attachment: fixed;
    &>div{
      padding-top: 15rem;
    }
    &-1{
      opacity: 0;
      transition: $animation;
      span{
        margin-bottom: 2.5rem;
      }
      p{
        margin-bottom: .5rem;
      }
      div:first-child{
        padding-right: 2rem;
      }
      div:last-child{
        padding-left: 2rem;
      }
    }
    &-2{
      opacity: 0;
      transition: $animation;
      h2{
        margin-top: 0;
        margin-bottom: 3rem;
      }
      div:nth-child(2){
        padding-right: 2rem;
      }
      div:last-child{
        padding-left: 2rem;
      }
    }
  }

  .slide5{
    padding: 0;
    height: 100vh;
    div{
      border: .5rem #000 solid;
      padding: 2rem 5rem;
    }
    p{
      font-size: 3.5rem;
    }
    span{
      font-size: 1.3rem;
    }
  }

  .slide6{
    background-image: url('#{$image-dir}/fondo-martin.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    height: 150rem;
    p{
      font-size: 1.4rem;
    }
    &>div:first-child{
      padding: 15rem 1rem;
    }
    &-1{
      margin-top: 4rem;
      justify-content: flex-end;
      opacity: 0;
      transition: $animation;
      p{
        text-align: right;
        max-width: 13rem;
      }
    }
    &-2{
      margin-top: 15rem;
      opacity: 0;
      transition: $animation;
      p{
        text-align: left;
        max-width: 13rem;
      }
    }
    &-3{
      justify-content: space-between;
      flex-direction: row;
      p{
        padding: 0 3rem;
        width: 18rem;
        height: 100vh;
        text-align: left;
        transition: all .3s ease-out;
        position: fixed;
        top: 0;
      }
      &-left{
        left: -50%;
      }
      &-right{
        right: -50%;
      }
      & p:last-child{
        padding-bottom: 0;
      }
    }
  }

  .slide7{
    padding: 0;
    height: 120vh;
    .txt-big{
      font-size: 3.8rem;
    }
  }

  .slide8{
    background-color: #fff;
    padding: 0;
    height: 200vh;
    z-index: -1;
    transition: $animation;
    div{
      width: 100vw;
      position: fixed;
      top: 50%;
      left: 0;
      margin-top: -6rem;
      padding: 0 5rem;
      text-align: center;
    }
    p{
      width: auto;
    }
    &-1{
      transition: $animation;
      opacity: 0;
    }
  }

  .slide9{
    padding: 10rem 0 0;
    &-img{
      padding-top: 8rem;
      &-txt{
        $varmm : 35rem;
        position: absolute;
        bottom: 0;
        left: 50%;
        width: $varmm;
        margin-left: -1 * $varmm/2;
      }
    }
  }

  .slide10{
    &-1{
      padding: 0 8rem;
    }
    &-4{
      padding: 0 8rem;
    }
    &-separadores{
      padding: 0;
      height: 100vh;
    }
    &-img{
      height: 100vh;
    }
    &-dual{
      z-index: -1;
      height: 120vh;
      background-color: #070f36;
      &>div{
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
      }
      p{
        top: 3rem;
        position: absolute;
      }
      &-izq,&-der{
        flex-direction: row;
      }
      &-izq{
        p{
          margin-left: 2vw;
          width: 10rem;
        }
      }
      &-der{
        p{
          margin-right: 2vw;
          width: 10rem;
          color: #000;
        }
      }
    }
  }


  .slide11{
    padding: 15rem 0 ;
    height: 150rem;
    p{
      padding: .5rem 1rem;
      margin: 0 ;
    }
    &>div{
      padding: 1rem 0 3rem;
      position: relative;
    }
    &>div{
      background-color: #fff;
    }
    &>div:nth-child(even){
      background-color: #fff;
    }
    &-dual-3{
      order: 3;
    }
    &-dual-4{
      order: 4;
    }
    &-dual-5{
      order: 5;
    } 
    
    
    &-principal{
      z-index: 2!important;
    }
    &-txt-1{
      margin-top: 45rem;
      z-index: 4;
    }
    &-txt-2{
      margin-top: 65rem;
      z-index: 6;
    }
    &-txt-3{
      margin-top: 85rem;
      z-index: 8;
    }
  }

  .slide12{
    padding: 0;
    article{
      height: 100vh;
    }
    h3{
      font-size: 4.5rem;
    }
  }

  .slide13{
    &-mano{
      padding: 0;
      height: 100vh;
    }
    &-img{
      height: 20rem;
    }
    p{
      height: 10rem;
    }
  }
  .pie{
    a{
      font-size: 1.5rem;
    }
  }
}

.fade-in{
  opacity: 1;
}
.slide-left{
  left: 0;
}
.slide-right{
  right: 0;
}
.bg-slide8{
  background-color: #228E6A; // verde agua
}
.zIndex{
  z-index: $index-2;
}
.stiky,.stiky2{
  position: fixed!important;
  top: 8rem;
  left: 0;
  right: 0;
}
.stiky2{
  z-index: 4!important;
  margin-top: 0;
  top: calc(8rem + 62%);
}