doctype html
html(lang="es-ES")
  head
    title Marcelo López
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="description", content="")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='theme-color', content='')
    meta(name="theme-color", content="#D71E00")
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Anton|PT+Sans+Narrow:400,700', type='text/css')
    link(rel='stylesheet', href='./css/main.css')
    //- link(rel='stylesheet', href='./css/main.min.css')
  body
    <!--[if lt IE 9]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    include ./slide01.jade
    include ./slide02.jade
    include ./slide03.jade
    include ./slide04.jade
    include ./slide05.jade
    include ./slide06.jade
    include ./slide07.jade
    include ./slide08.jade
    include ./slide09.jade
    include ./slide10.jade
    include ./slide11.jade
    include ./slide12.jade
    include ./slide13.jade
    include ./pie.jade

    //- script(src='./lib/zepto/zepto.min.js')
    //- script(src='./js/app.js')
    script(src='./js/app.min.js')