section.slides.slide7.centrador
  div.container
    p.txt-xl Porque la gente no adhiere a los que propones.
      br
      span  Adhiere al por qué lo propones. 
      br
      br
      span.txt-big El elector adhiere a una 
      |causa.