section.slides.slide10.centrador
  div.container.row
    .c100-s.c55-m.centrador.slide10-txt.slide10-1
      p.txt-s El valor con el cual los estadounidenses iban a decidir su voto en el 2008 no era “País”, no era “Unidad”, no era “Orgullo”. 
    .c100-s.c45-m.slide10-2
      img(src='./images/maccain.jpg')
    .c100-s.c45-m.slide10-3
      img(src='./images/obama.jpg')
    .c100-s.c55-m.centrador.slide10-txt.slide10-4
      p.txt-m Era 
        span “Cambio”
      p.txt-s Y Barack Obama era el Candidato que significaba el Cambio. 
        br
        br
        | Por eso ganó.
  div.container.row.slide10-separadores
    .c100-s.centrador
      p.txt-m Las cosas, las personas (candidatos incluídos) las instituciones, los países, los partidos políticos, cada vez son menos lo 
        span que son 
        | para ser, cada vez más, 
        span lo que representan.


section.slides.slide10-dual.centrador
  div.centrador
    div.row.slide10-dual-conte
      div.c100-s.c50-m.centrador.slide10-dual-der
        img(src='./images/bin-laden.jpg')
        p.slide10-dual-txt.txt-xs Bin Laden fue muchas cosas según quien lo interprete: 
          br 
          br
          |un loco, 
          br 
          |un profeta, 
          br 
          |un asesino, 
          br 
          |un iluminado.
          br
          br 
          |Pero más que nada o por sobre todo, era 
          span el Terror
      div.c100-s.c50-m.centrador.slide10-dual-izq
        img(src='./images/gaulle.jpg')
        p.slide10-dual-txt.txt-xs Los franceses que padecieron la Segunda Guerra eligieron presidente a De Gaulle porque significaba la 
          span Liberación.

section.slides.slide10-fin.centrador
  div.container.row.slide10-separadores
    .c100-s.centrador
      p.txt-m En el espacio electoral, cada Candidato es un símbolo que representa un Valor(o un compendio de Valores).
        br
        br
        |Quien tenga los valores que yo quiero, también tiene mi voto.




