section.slides.slide9.centrador
  div.container
    div.slide9-txt
      p.txt-s  Todas las campañas electorales son,
        br
        |  única y exclusivamente,
        br 
        |  una confrontación de valores:

      h4.slide9-txt1.txt-l los Valores del Candidato
      p.txt-s frente a
      h4.slide9-txt2.txt-l los Valores del Elector.
    div.slide9-img
      img(src='./images/maccain-obama.jpg')
      p.txt-s.slide9-img-txt
        |En el momento que se enfrentan dos Candidatos, el elector decide cuál de ambos le hace más sentido.
        br
        br
        |Este se produce cuando los valores que uno de ellos representa están alineados con los valores del electorado. 
        br
        |Ese Candidato gana. 

