section.slides.slide4
  .slide4-1.row.container
    div.c100-s.c50-l
      span.txt-xs La semiótica
      p.txt-xs se ocupa de determinar cómo se crean, cómo se transmiten y cómo se internalizan los significados de las cosas entre las personas.
      p.txt-xs Aplicada a política y procesos electorales, la intervención semiótica permite descubrir, comprender y gerenciar los fenómenos de sentido que se verifican entre partidos políticos, proyectos y candidatos por un lado, y la ciudadanía por el otro
    div.c100-s.c50-l
      span.txt-xs Básicamente, la intervención semióticanos permite determinar: 
      p.txt-xs
        |· Cuál es la cultura política dominante: temperamento, humor y alineamiento de los electores.
        br
        |· Qué significa cada candidato para el elector.
        br 
        |· Qué cree y siente el elector (no sólo “qué opina”) frente a los grandes conceptos.
        br
        |· Cuáles son los valores que usa el elector para decidir a quién entregar su voto.
        br
        |· Cómo y en qué grado  se puede influiren esas creencias y sentimientos.
        br
        |· Qué estrategia comunicacional,  qué símbolos y qué discurso hay que desarrollar para cruzar adecuadamente los valores   de un candidato con los valores del electo


  .slide4-2.row.container
    div.c100-s
      h2.txt-s Qué nos permite saber una intervención semiótica 
    div.c100-s.c50-l
      span.txt-xs 1. Dónde estamos parados.
      p.txt-xs Repertorio valórico de los electores: puntos de coincidencia y divergencia simbólica con la propuesta actual de la candidatura.
      span.txt-xs 2. Hacia dónde debemos ir
      p.txt-xs De Líder a Líder Inspirador:  construcción del Círculo Dorado del Candidato. Determinación del Por qué, Cómo y Qué de su propuesta.
      span.txt-xs 3. Quiénes debemos ser para los electores
      p.txt-xs Identidad propuesta para la candidatura: los Seis Recursos de Construcción de Identidad.
    div.c100-s.c50-l
      span.txt-xs 5. Los motivos por los que comenzarán  a querernos y escucharnos.
      p.txt-xs La Propuesta Estratégica: el Mapa Semiótico y la ubicación ideal de la candidatura de frente al electorado. Valores imprescindibles, deseables y desechables en la conformación de la gestión estratégica, táctica y comunicacional. 
      span.txt-xs 6. Qué decir y cómo decirlo para rentabilizar la relación del Candidato con el electorado.
      p.txt-xs
        | Conformación óptima del discurso segmentado para los públicos más relevantes. 
        br 
        | Determinación de la Figura Pública del Candidato
        br 
        | Contenidos imprescindibles, formatos, tonos, énfasis, lenguaje. 
        br 
        | Elementos de discurso correctos  (propiciadores de sentido) e incorrectos (propiciadores de confusión significacional).
        br 
        | Recomendaciones para potenciar el discurso y sus formas.
      