section.slide1.centrador.fullScreen
  div.flex
    div.imagen
      img(src='./images/marcelo.jpg')
    h1 Marcelo López 
      span MARKETING SEMIÓTICO 
      span DE LOS PROCESOS POLÍTICOS Y ELECTORAL