section.slide6
  div.container
    .slide6-1.flex
      p
        | En los ´60, Martin Luther King era un símbolo.
        br
        br
        | Porque para los norteamerricanos significaba al menos dos conceptos a la vez.
    .slide6-2.flex
      p
        | El comienzo de otra era, una luz de esperanza, una nación justa.
        br
        br
        | El fin de una era, la amenaza del caos, una nación en llamas.
  .slide6-3.flex
    p.slide6-3-left Finalmente, la creencia, la causa, el propósito de King fueron los vencedores.
    p.slide6-3-right
      | ¿Por qué?
      br
      | Porque cuando King necesitó inspirar  a la gente dijo “Tengo un sueño”, no “Tengo un Plan”. 
      br
      br
      | Era lo que él creía, no lo que él prometía hacer.
      br
      | Era su por qué, no el qué iba a hacer con ello.
      br
      br 
      | ¿Y saben por qué funcionó?