section.slides.slide3.centrador
  div
    h1.txt-center INVESTIGACIÓN SEMIÓTICA DE PROCESOS ELECTORALES 
    p.h2.txt-center
      span Cómo jubilar la nariz para ganar elecciones
    p.h2.txt-center El sentido de la semiótica
      br
      span es, antes que nada, el sentido común