section.slides.slide2.centrador
  div.container
    h2 ALGUNOS TRABAJOS DE INVESTIGACIÓN SEMIÓTICA Y DESARROLLO ESTRATÉGICO EN EL ESPACIO SOCIOPOLÍTICO Y ELECTORAL
    div.flex.list
      ul
        li Relanzamiento Partido Acción Nacional – PAN (México)
        li Lanzamiento Partido Dominicanos por el Cambio (República Dominicana)
        li Campaña Presidencial re-elección Juan Manuel Santos (Colombia)
        li Campaña Presidencial Arturo Alessandri (Chile)
        li Campaña Presidencial  Hernán Buchi (Chile)
        li Campaña Presidencial Guillermo Lasso  (Ecuador)
        li Campaña Presidencial Sergio Massa (Argentina)
        li Campaña Presidencial Michel Martelly (Haití)
        li Campaña Presidencial Otto Pérez Molina (Guatemala)
        li Plan de instalación de Comunicaciones Gobierno de Felipe Calderón (México)
        li Estudio Sociocultural en el Distrito Federal (México) para 2ª Etapa de Gobierno 2015-16 
        li Campaña a la Presidencia del Partido Nacional de Ricardo Alvarez (Honduras)
      ul
        li Campaña Gobernación Juan Bueno T. (Veracruz, México)
        li Campaña Gobernación Francisco García Cabeza de Vaca (Tamaulipas, México)
        li Campaña Gobernación Ugo Ruiz (Nuevo León, México)
        li Campaña de Gabriel Jaime Rico a la Alcaldía de Medellín (Colombia)
        li Campaña de Tomás Ríos a la Alcaldía de Córdoba, Veracruz (México)
        li Municipio de Guadalupe, Estudio Sociocultural (N. León, México)
        li Campaña Diputación Francisco de Narváez (Argentina)
        li Campaña Gobernación de Sergio Uñac (San Juan, Argentina)
        li CampañaS Gobernación José Luis Gioja (San Juan, Argentina, 2003-2008-2012)
        li Campaña Presidencia Municipal de Víctor Guerrero (San Nicolás, N. León, México)
        li Campaña Senatorial César Gioja (San Juan, Argentina)
        li Campaña Gobernación Omar Fayad (Hidalgo, México)
        li Estudio Sociosemiótico – Partido del Trabajo, Chihuahua (México)