section.slides.slide12
  .container
    article.centrador
      p.txt-m Finalmente:
      p.txt-l Qué recibe el Candidato con la realización de un estudio semiótico
section.slides.slide12.slide12-2
  .container
    article.centrador
      h3.txt-xl Certezas.
      p.txt-l Siete grandes certezas.
      p.txt-s Certeza de tener una Identidad propia potente y diferenciada.
        br
        |Certeza de estar alineado con las expectativas de la ciudadanía.
        br
        |Certeza de contar con una Causa que inspire a los electores.
        br
        |Certeza de ser una opción ganadora.

