section.slides.slide13.row
  .c100-s.c33-l.slide13-mano.slide13-1.centrador
    div
      div.slide13-img
      p.txt-xs Certeza de quién es el Candidato hoy (qué Sentido tiene para el elector).
  .c100-s.c33-l.slide13-mano.slide13-2.centrador
    div
      div.slide13-img
      p.txt-xs Certeza de qué necesita el Candidato para desarrollar todo su potencial simbólico-comunicacional (el Círculo Dorado: determinar su Por Qué como motor de un liderazgo inspirador en los electores).
  .c100-s.c33-l.slide13-mano.slide13-3.centrador
    div
      div.slide13-img
      p.txt-xs Certeza de estar alineado con las expectativas, deseos, sentimientos, temores y esperanzas de los electores, a través de representar la Figura Pública que las personas esperan y necesitan.
  .c100-s.c25-l.slide13-mano.slide13-4.centrador
    div.slide13-img
    p.txt-xs Certeza de qué cambiar y qué mantener en las capacidades simbólicas del Candidato para repotenciar su significación en los electores
  .c100-s.c25-l.slide13-mano.slide13-5.centrador
    div.slide13-img
    p.txt-xs Certeza de cómo fortalecer  la Identidad del Candidato (Recomendación del Hexágono de identidad), para cumplir con las expectativas generales de la candidatura.
  .c100-s.c25-l.slide13-mano.slide13-6.centrador
    div.slide13-img
    p.txt-xs Certeza de que la comunicación va a ser coherente con los hallazgos semióticos y estará adecuadamente orientada a generar resultados tangibles.
  .c100-s.c25-l.slide13-mano.slide13-7.centrador
    div.slide13-img
    p.txt-xs Certeza de la eficiencia de los instrumentos con los que se debe medir el proceso de construcción  de la marca y su discurso.