section.slides.slide7.centrador
  div.container
    p.txt-xl Porque Martin Luther King sabía que las causas, como los sueños, 
      br
      span  movilizan más que los programas de gobierno.
      br
      br
      span.txt-big Dale a la persona una causa
      br
      | y te devolverá un voto.