section.slides.slide1.centrador.fullScreen
  div.container.row
    div.c50-s
    div.c100-s.c50-l.slide1-txt
      h1.txt-name Marcelo López 
      h1.txt-slogan VOTA 
        span SEMIOTICA
      h1.txt-frase Ver lo que no se ve,
      h1.txt-frase2 oír lo que no se escucha.
      a(href="mailto:marcelo@marketingsemiotico.cl?subject=Te%20escribieron%20de%20marcelolopez.cl", class="mail")
        | marcelo@marketingsemiotico.cl